/* Estilos para el contenedor principal de la página de inicio de sesión */
.authenticaction-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 80px);
}
.authentication-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.authentication-form {
  width: 70%;
  height: 60%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.authentication-form input {
  width: 80%; /* Ancho con margen incluido */
  padding: 10px; /* Espaciado interno */
  margin: 10px 0; /* Margen superior e inferior */
  border-radius: 4px; /* Bordes redondeados */
  border: 1px solid rgba(102, 102, 102, 0.479); /* Borde gris claro */
  background-color: rgb(255, 255, 255);
}
.authentication-form h2 {
  font-size: 2.5em; /* Ancho con margen incluido */
}
.authentication-form a {
  color: black;
  margin: 20px;
  font-weight: 500; /* Ancho con margen incluido */
}

.authentication-greenside {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #bef16a 39%, #94d726 74%);
}
.rightside {
  border-radius: 100px 0px 0px 100px;
  border-left: 2px solid rgba(0, 0, 0, 0.212);
}
.leftside {
  border-radius: 0px 100px 100px 0px;
  border-left: 2px solid rgba(0, 0, 0, 0.212);
}
.authentication-greenside img {
  margin-top: 100px;
}
/* Media Queries para Responsividad */
@media (max-width: 1200px) {
  .authentication-page {
    margin: auto;
    height: 100vh;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .authentication-container {
    width: 100%;
  }
  .authentication-form h2 {
    font-size: 2em; /* Reducir el tamaño de la fuente */
  }
  .authentication-form input {
    width: 100%; /* Ancho con margen incluido */
  }
  .authentication-greenside {
    display: none;
  }
}

@media (max-width: 768px) {
  .authenticaction-page {
    flex-direction: column;
  }
  .authentication-form {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .authentication-form h2 {
    font-size: 1.5em; /* Reducir el tamaño de la fuente */
  }
  .authentication-form input {
    width: 95%; /* Ancho con margen incluido */
  }
  .authentication-form a {
    font-size: 0.8em;
    margin: 10px; /* Reducir el margen */
  }
}
.moveFromLeft {
  -webkit-animation: moveFromLeft 0.6s ease both;
  animation: moveFromLeft 0.6s ease both;
}
.moveFromRight {
  -webkit-animation: moveFromRight 0.6s ease both;
  animation: moveFromRight 0.6s ease both;
}

@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
  }
}
@keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@media (max-width: 1160px) {
  .authentication-container {
    flex-direction: column;
    align-items: center;
  }

  .authentication-form {
    max-width: 100%;
    padding: 20px;
  }

  .authentication-links {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .authentication-greenside {
    display: none;
  }

  .rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.authentication-greenside img {
  max-width: 100%;
  height: auto;
}
