.rectangulo1 {
  background: linear-gradient(180deg, #bef16a 39%, #94d726 74%);
  height: 95px;
}

.section {
  padding: 80px;
}

.section h1 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  display: flex;
  letter-spacing: -0.01em;
}
.section p {
  font-family: "Inter";
  font-weight: 300;
  font-size: 36px;
  line-height: 200%;
  color: #666;
}
.integrantes {
  display: flex;
  justify-content: space-around;
  gap: 0px;
}

.persona {
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 300px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
  background: #bef16a;
}
.img img {
  width: 100%;
  object-fit: cover;
}

.persona h3 {
  font-size: 24px;
}

.persona h4 {
  font-size: 18px;
  color: #666;
}

.persona p {
  font-size: 14px;
  color: #333;
}

.redes-sociales {
  margin-top: 10px;
}

.redes-sociales a {
  color: #517a10;
  margin: 0 5px;
  font-size: 30px;
}
