/* General Styles */
.footer {
  background-color: #0a0a0a;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon {
  color: #35a82a;
  font-size: 50px;
  transition: color 0.3s;
  cursor: pointer;
}

.icon:hover {
  color: #c4dcce;
}

/* Footer Sections */
.footer-section-comunidad,
.footer-section-contacto,
.footer-section-newsletter {
  width: 30%; /* Adjust width as needed */
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.footer-section-comunidad > h2,
.footer-section-contacto > h2,
.footer-section-newsletter > h2 {
  font-size: 30px;
}

/* Contact Section */
.footer-section-contacto p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
  font-size: 20px;
}

/* Newsletter Section */
.footer-section-newsletter p {
  font-size: 20px;
}

.newsletter-form {
  width: 100%;
  display: flex;
  gap: 15px;
}

.newsletter-input {
  padding: 10px; /* Aumento del padding para un campo de entrada más grande */
  border-radius: 4px;
  gap: 15px;
  border: 1px solid #ccc;
  width: 100%; /* Ocupa todo el ancho disponible */
}

.newsletter-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #35a82a;
  color: white;
  cursor: pointer; /* Cursor de apuntador */
  transition: background-color 0.6s; /* Transición suave del color de fondo */
}

.newsletter-button:hover {
  background-color: #ebf1f3;
  color: black;
}

/* Derechos de Autor */
.derechos {
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

/* Responsive Styles (for screens smaller than 768px) */
@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: center; /* Center elements horizontally on small screens */
  }

  .social-icons,
  .footer-section-comunidad,
  .footer-section-contacto,
  .footer-section-newsletter {
    width: 100%; /* Make sections full width on small screens */
    margin-bottom: 20px; /* Add spacing between sections on small screens */
  }

  .footer-section-comunidad > h2,
  .footer-section-contacto > h2,
  .footer-section-newsletter > h2 {
    font-size: 24px; /* Adjust heading size for smaller screens */
  }

  .footer-section-contacto p,
  .footer-section-newsletter p {
    font-size: 18px; /* Adjust paragraph size for smaller screens */
  }

  .newsletter-form {
    flex-direction: column;
    align-items: start; /* Stack input and button on small screens */
  }

  .newsletter-input,
  .newsletter-button {
    width: 100%; /* Make input and button full width on small screens */
  }
  .newsletter-input {
    padding: 0;
    height: 40px;
    font-size: 1em;
  }

  .derechos {
    margin-top: 30px; /* Adjust margin for smaller screens */
  }
}
