/* Estilos para el contenedor principal de la página de inicio de sesión */

body {
  background: #fcf9ff;
  height: 100vh;
  margin: -20px 0 50px;
}

.login-page2 {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  flex-direction: column;
  width: 1280px;
  height: 910px;
  background: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 90px;
  box-sizing: border-box;
  overflow: hidden;
  margin: auto; /* Posicionamiento a la mitad del alto del viewport */
}

/* Estilos para el formulario de inicio de sesión */
.login2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  width: 490px;
  height: auto;
  left: 56px;
  top: 233px;
}

.login2 h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  color: #1f1f1f;
  margin-bottom: 20px;
}

.login2 input {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid rgba(238, 238, 238, 1);
  background-color: rgba(238, 238, 238, 1);
}

.login2 button {
  padding: 15px 200px;
  border: none;
  border-radius: 4px;
  background: #020506;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Inter";
  font-size: 16px;
}

.login2 button:hover {
  background-color: #bef16a;
}

.login2 a {
  display: block;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.45);
  text-decoration: none;
}

.login2 a:hover {
  text-decoration: underline;
}

/* Estilos para el segundo contenedor */
.containerDos {
  width: 684px;
  height: 910px;
  background: linear-gradient(180deg, #bef16a 39%, #94d726 74%);
  border-radius: 90px;
  position: absolute;
  left: calc(80% - 342px);
  top: 0;
}

.container-2 h2 {
  position: absolute;
  width: 195px;
  height: 92px;
  left: calc(5% - 195px / 2 + 339.5px);
  top: calc(50% - 92px / 2 - 286px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.colorUno {
  color: #000000;
}

.colorDos {
  color: #ffffff;
}

.containerDos img {
  position: absolute;
  right: 18%;
  top: 30%;
  bottom: 40%;
}
