/*#root {
  max-width: 1280px;
  height: 910px;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: -2.21%;
  right: -18.93%;
  top: -1.1%;
  bottom: 92.49%;
  background: #b8e172;
  border: 2px solid #000000;
  text-decoration: underline;
}

.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  font-size: 15px;
  color: #000000;
  text-decoration: none;
} */

/* Estilos para LoginPage */

/* LoginPage.css */

.login-page {
    position: absolute; /* Posicionamiento absoluto */
    width: 1280px; /* Ancho fijo */
    height: 910px; /* Altura fija */
    left: 0px; /* Desplazamiento desde la izquierda */
    top: 0px; /* Desplazamiento desde la parte superior */
    background: #ffffff; /* Fondo blanco */
    box-shadow: -4.44444px 4.44444px 8.88889px rgba(0, 0, 0, 0.25),
      4.44444px -4.44444px 8.88889px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 35.5556px; /* Bordes redondeados */
    box-sizing: border-box;
  }
  
  .login-container {
    position: relative; /* Posicionamiento relativo para elementos hijos */
  }
  
  .login {
    display: flex; /* Usa flexbox */
    flex-direction: column; /* Dirección de los elementos hijos en columna */
    align-items: center; /* Alineación centrada de los elementos hijos */
    padding: 20px; /* Espaciado interno */
    background: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* Sombra */
    position: absolute; /* Posicionamiento absoluto */
    width: 490px; /* Ancho fijo */
    height: auto; /* Altura automática */
    left: 56px; /* Desplazamiento desde la izquierda */
    top: 233px; /* Desplazamiento desde la parte superior */
  }
  
  .login h1 {
    font-family: "Inter"; /* Fuente Inter */
    font-style: normal; /* Estilo de fuente normal */
    font-weight: 700; /* Grosor de fuente 700 */
    font-size: 36px; /* Tamaño de fuente 36px */
    line-height: 24px; /* Altura de línea 24px */
    color: #1f1f1f; /* Color del texto */
    margin-bottom: 20px; /* Margen inferior */
  }
  
  .login input {
    display: block; /* Elemento de bloque */
    width: calc(100% - 20px); /* Ancho con margen incluido */
    padding: 10px; /* Espaciado interno */
    margin: 10px 0; /* Margen superior e inferior */
    border-radius: 4px; /* Bordes redondeados */
    border: 1px solid rgba(238, 238, 238, 1); /* Borde gris claro */
    background-color: rgba(238, 238, 238, 1);
  }
  
  .login button {
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    background: #1f1f1f; /* Fondo negro */
    color: #fff; /* Texto blanco */
    cursor: pointer; /* Cambia el cursor a puntero al pasar sobre el botón */
    margin-top: 10px; /* Margen superior */
  }
  
  .login a {
    display: block; /* Elemento de bloque */
    margin-top: 10px; /* Margen superior */
    color: rgba(0, 0, 0, 0.45); /* Texto negro translúcido */
    text-decoration: none; /* Sin subrayado */
  }
  
  .login a:hover {
    text-decoration: underline; /* Subrayado al pasar sobre el enlace */
  }
  
  .container-2 {
    width: 684px; /* Ancho fijo */
    height: 910px; /* Altura fija */
    background: linear-gradient(
      180deg,
      #b8e172 14.6%,
      #38e573 100%
    ); /* Degradado de fondo */
    flex: none;
    border-radius: 90px; /* Bordes redondeados */
    order: 0;
    flex-grow: 0;
    position: absolute; /* Posicionamiento absoluto */
    left: calc(80% - 342px); /* Centrado horizontalmente */
    top: 0; /* Desplazamiento desde la parte superior */
  }
  
  .container-2 h2 {
    position: absolute; /* Posicionamiento absoluto */
    width: 195px; /* Ancho fijo */
    height: 92px; /* Altura fija */
    left: calc(5% - 195px / 2 + 339.5px); /* Centrado horizontalmente */
    top: calc(
      50% - 92px / 2 - 286px
    ); /* Desplazamiento desde la parte superior */
    font-family: "Inter"; /* Fuente Inter */
    font-style: normal; /* Estilo de fuente normal */
    font-weight: 600; /* Grosor de fuente 500 */
    font-size: 25px; /* Tamaño de fuente 40px */
    line-height: 24px; /* Altura de línea 20px */
    display: flex; /* Usa flexbox */
    align-items: center; /* Alineación centrada de los elementos hijos */
    text-align: center; /* Texto centrado */
    color: #ffffff;
  }
  
  .container-2 h3 {
    position: absolute; /* Posicionamiento absoluto */
    width: 543px; /* Ancho fijo */
    height: 35px; /* Altura fija */
    left: calc(50% - 130px); /* Centrado horizontalmente */
    top: 215px; /* Desplazamiento desde la parte superior */
    font-family: "Inter"; /* Fuente Inter */
    font-style: normal; /* Estilo de fuente normal */
    font-weight: 500; /* Grosor de fuente 500 */
    font-size: 40px; /* Tamaño de fuente 40px */
    line-height: 20px; /* Altura de línea 20px */
    display: flex; /* Usa flexbox */
    align-items: center; /* Alineación centrada de los elementos hijos */
    text-align: center; /* Texto centrado */
  }
  .color1 {
    color: #000000;
  }
  .color2 {
    color: #ffffff;
  }
  
  .container-2 img {
    position: absolute; /* Posicionamiento absoluto */
    right: 18%; /* Desplazamiento desde la derecha */
    top: 30%; /* Desplazamiento desde la parte superior */
    bottom: 40%; /* Desplazamiento desde la parte inferior */
  }
  