.home-background {
  position: relative;
  background: linear-gradient(110deg, #ffffff 50%, #bef16a 50%);
  overflow: hidden;
  animation: fadeInAnimation ease 1s;
}
.background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  width: 60%;
  background: url("src/assets/images/home-img.jpeg") no-repeat center center;
  background-size: cover;
  transform: skewX(
    -20deg
  ); /* Ajusta este valor para que coincida con el ángulo del gradiente */
  opacity: 0.05; /* Ajusta la opacidad según necesites */
}
.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  gap: 150px;
  width: 100%;
  margin: auto;
  height: calc(100vh - 80px);
}
.home-infoapp {
  margin-top: 35px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page > .home-infoapp > img {
  width: 50%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.home-infoapp > p {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  width: 50%;
}
.home-infoapp > span {
  width: 70%;
  font-style: italic;
}
.info-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  height: auto;
  width: 70%;
  gap: 10px;
  background: linear-gradient(180deg, #bef16a 39%, #94d726 74%);
  border-radius: 30px;
}
.info-details strong {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
.info-details span {
  text-align: center;
  font-weight: bold;
}
.home-msg-container {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  gap: 20px;
  width: 40%;
  height: 500px;
  z-index: 1;
}

.conocenos-container {
  width: 100%;
  margin-right: 100px;
  display: flex;
  justify-content: end;
  z-index: 1;
}
.adjust-page {
  width: 70%;
  height: auto;
  margin: 50px auto;
}
.grid-temas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
}
.filter-button {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  background-color: var(--VerdePlano);
  flex-direction: row;
}
.filter {
  padding: 2px;
  display: flex;
  align-items: center;
}

.map-page {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 10px;
  animation: fadeInAnimation ease 1s;
}
.map-page-container {
  width: 80%;
  height: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.leaflet-routing-container {
  background-color: #ffffff; /* Cambia el fondo a blanco */
  border: 2px solid #000000; /* Bordes negros */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  font-family: Arial, sans-serif; /* Fuente personalizada */
  color: #333333; /* Color del texto */
}

.leaflet-routing-alternatives-container {
  background-color: #f0f0f0; /* Fondo gris claro */
  border: 1px solid #cccccc; /* Bordes grises */
  border-radius: 3px; /* Bordes redondeados */
  padding: 5px; /* Espaciado interno */
}
.form-map {
  width: 17%;
  height: 25%;
  box-sizing: border-box;
  margin: 5px 5px;
  padding: 10px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  gap: 5px;
  position: absolute;
  background: linear-gradient(180deg, #bef16a 39%, #94d726 74%);
  border: 1px solid #000000;
  border-radius: 13px;
  z-index: 2000;
}

.leaflet-container {
  border: 1px solid #000000;
}
.moveFromTop {
  -webkit-animation: moveFromTop 0.6s ease both;
  animation: moveFromTop 0.6s ease both;
}

.scaleUp {
  -webkit-animation: scaleUp 0.7s ease both;
  animation: scaleUp 0.7s ease both;
}
.moveFromLeft {
  -webkit-animation: moveFromLeft 0.7s ease;
  animation: moveFromLeft 0.7s ease;
}
.moveFromLeftimg {
  -webkit-animation: moveFromLeftmore 5s ease both;
  animation: moveFromLeftmore 5s ease both;
}
@media (max-width: 1500px) {
  .home-msg-container {
    width: 35%;
  }
}
/* Media Queries para Responsividad */
@media (max-width: 1200px) {
  .background-image {
    display: none;
  }
  .home-infoapp {
    height: 55vh;
    order: 1;
  }
  .home-page {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    gap: 20px;
    height: auto;
    background: white;
  }
  .info-details {
    width: 90%;
  }
  .home-infoapp {
    width: 100%;
    margin-top: 20px;
  }
  .home-msg-container {
    justify-content: start;
    text-align: center;
    width: auto;
    margin: 50px;
    height: auto;
    font-size: 2em;
  }
  .conocenos-container {
    margin-bottom: 20px;
    margin-right: 0;
    justify-content: center;
    order: 2;
  }
}

@media (max-width: 768px) {
  .home-page {
    align-items: center;
    gap: 20px;
  }
  .home-infoapp {
    height: 55vh;
    order: 1;
  }
  .home-infoapp > p {
    font-size: 1em;
    width: 80%;
  }
  .info-details {
    width: 90%;
  }
  .home-msg-container {
    justify-content: start;
    text-align: center;
    height: auto;
    font-size: 1.2em;
  }

  .conocenos-container {
    margin-bottom: 20px;
    margin-right: 0;
    justify-content: center;
    order: 2;
  }
  .form-map {
    width: 40%;
    height: auto;
    margin: 5px 5px;
  }
}

@media (max-width: 480px) {
  .home-page {
    height: 100vh;
    justify-content: start;
    gap: 70px;
  }
  .home-infoapp {
    height: 40vh;
    order: 1;
  }
  .home-infoapp > p {
    font-size: 0.9em;
    width: 100%;
  }
  .info-details {
    font-size: 0.7em;
    width: 90%;
  }
  .home-infoapp > span {
    width: 70%;
    font-style: italic;
    font-size: 0.7em;
  }
  .home-msg-container {
    width: 100%;
    padding: 5px;
    margin-bottom: 0;
    justify-content: start;
    font-size: 0.9em;
  }
  .form-map {
    width: 50%;
  }
  .home-msg-container > h5 {
    margin: 0;
  }

  .leaflet-routing-container {
    padding: 5px;
  }
  .leaflet-routing-alternatives-container {
    padding: 3px;
  }
}
@-webkit-keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}
@keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveFromLeftmore {
  from {
    -webkit-transform: translateX(-200%);
  }
}
@keyframes moveFromLeftmore {
  from {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}
@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
  }
}
@keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes moveFromBottomFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
  }
}
@keyframes moveFromBottomFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-webkit-keyframes moveFromBottom {
  from {
    height: 0;
    -webkit-transform: translateY(100%);
  }
}
@keyframes moveFromBottom {
  from {
    height: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
