/* Estilos para la página de perfil */
.profile-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  animation: fadeInAnimation ease 1s;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Foto de perfil */
.profile-foto img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
  border: 3px solid #000000;
}

/* Nombre */
.profile-info h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
/* Ubicación */
.profile-info p {
  font-size: 20px;
  color: #777e6d;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-right: 80px; /* Valor por defecto para pantallas grandes */
}

.profile-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Seguidos... */
.profile-stat {
  text-align: center;
  border-radius: 10%;
  width: 150px;
  height: 150px;
  margin-top: 20px;
  border: 3px solid #000000;
  background-color: #abde53;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Datos */
.profile-stat p {
  font-size: 25px;
  font-weight: bold;
  margin-top: 1px;
  color: #000000;
}

/* Texto km, seguidores, siguiendo */
.profile-stat span {
  font-size: 15px;
  color: #130707;
  font-weight: bold;
  margin-top: -4px;
}

/* Bio */
.profile-bio {
  justify-content: space-between;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

/* Barra negra */
.edit-profile-button {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
}

.edit-profile-button:hover {
  background-color: #535c53;
}

/* Contenedor principal (responsivo) */
.container-wrapper {
  width: 100%;
}

/* Contenedor secundario (responsivo) */
.container-2 {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas en pantallas pequeñas */
}

/* Input para el estado (responsivo) */
.estado-input {
  flex: 1; /* Distribución flexible del espacio disponible */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px; /* Espacio inferior en pantallas pequeñas */
}

/* Botón emojis (responsivo) */
.emoji-button {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 10px; /* Espacio inferior en pantallas pequeñas */
}

/* Botón enviar (responsivo) */
.enviar-button {
  background-color: #388e3c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px; /* Espacio inferior en pantallas pequeñas */
}

@media (max-width: 768px) {
  .profile-page {
    padding: 10px; /* Reducir el padding en pantallas pequeñas */
  }

  .profile-foto img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }

  .profile-info h1 {
    font-size: 30px;
  }

  .profile-info p {
    font-size: 16px;
  }

  .profile-stat {
    width: 100px;
    height: 100px;
  }

  .profile-stat p,
  .profile-stat span {
    font-size: 16px;
  }

  .edit-profile-button {
    font-size: 14px;
  }

  .container-2 {
    padding: 10px;
  }
}
