.header {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: #b8e172;
    border-bottom: 2px solid black;
         
}
.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar >img {
    height: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.navbar >ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 10px;
}
.navbar >ul> li> a {
    display:flex;
    position: relative;
    align-items: center;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
}    

.profile-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:5px;
    gap:6px;
}
.profile-img {
   
}
.profile-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-navbar img{
width: 70px;
height:70px;
object-fit: cover;
border-radius: 100px;

}

