
.friends-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(141, 231, 123);
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
    font-size: 24px;
    width: 60px;
    transition: color 0.3s ease;
    text-align: center;
    margin-right: -40px;
    margin-top: -50px;
    display: inline-flex;
    align-items: center;
  }
  
  .friends-button:hover {
    color: #384d35;
  }
  
  .friends-button svg {
    width: 100%;
    height: auto;
  }
  