:root {
  --VerdePlano: #bef16a;
  --fondobackgroundblanco:white;
  --BottomOffset: -20px;
  --LineHeight: 50px;
}

body {
  margin: 0px;
  box-sizing: border-box;
  background-color: var(--fondobackgroundblanco);

}
